<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div class="row">
        <a class="btn btn=primary" routerLink="">Back to Registration</a>
    </div>
    <div>
      <div class="form-group">
        <label>Recruiter Name</label>
        <div class="form-control">{{candidateReg.recruiterName}}</div>
      </div>
      <div class="form-group">
        <label>Candidate Name</label>
        <div class="form-control">{{candidateReg.candidateName}}</div>
      </div>
      <div class="form-group">
        <label>Candidate Phone</label>
        <div class="form-control">{{candidateReg.phoneNumber}}</div>
      </div>
      <div class="form-group">
        <label>Candidate E-Mail</label>
        <div class="form-control">{{candidateReg.emailAddress}}</div>
      </div>
      <div class="form-group">
        <label>Candidate Skype</label>
        <div class="form-control">{{candidateReg.skypeId}}</div>
      </div>
      <div class="form-group">
        <label>Schedule Date</label>
        <div class="form-control">{{candidateReg.interviewScheduleDate}}</div>
      </div>
      <div class="form-group">
        <label>Track</label>
        <div class="form-control">{{candidateReg.technicalStack}}</div>
      </div>
      <div class="form-group">
          <label>Interviewer Name</label>
          <div class="form-control">{{candidateReg.interviewer}}</div>
        </div>

        <div class="form-group">
            <label>Years of Experience</label>
            <div class="form-control">{{candidateReg.yearsOfExperience}}</div>
          </div>

    </div>
  </div>